<h1>Order #<%= @order.id %></h1>
<p><strong>Date:</strong> <%= @order.order_date.strftime("%b %d, %Y") %></p>
<p><strong>Subtotal:</strong> <%= number_to_currency((@order.total_price - @order.tax_cents)/100.0) %></p>
<p><strong>Taxes:</strong> <%= number_to_currency(@order.tax_cents/100.0) %></p>
<p><strong>Total:</strong> <%= number_to_currency(@order.total_price/100.0) %></p>
<p><strong>Status:</strong> <%= @order.status %></p>

<h2>Products in this Order</h2>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price Each</th>
      <th>Subtotal</th>
    </tr>
  </thead>
  
  <tbody>
    <% @order_products.each do |op| %>
      <tr>
        <td><%= op.product.name %></td>
        <td><%= op.quantity %></td>
        <td><%= number_to_currency(op.price_each/100) %></td>
        <td><%= number_to_currency(op.quantity * op.price_each/100) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @order.receipt_url.present? %>
  <p><%= link_to "View Receipt", @order.receipt_url, target: "_blank" %></p>
<% end %>
