<h1 class="title">Your Cart</h1>

<% if @cart_products.empty? %>
  <p>Your cart is empty! Go shopping!</p>
<% else %>
  <table class="table is-striped is-fullwidth">
    <thead>
      <tr>
        <th>Product</th>
        <th>Qty</th>
        <th>Price</th>
        <th>Subtotal</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @cart_products.each do |product| %>
        <% qty = @cart[product.id.to_s] %>
        <tr>
          <td><%= link_to product.name, product %></td>
          <td>
            <%= form_with url: cart_path, method: :patch, class: "inline" do %>
              <%= hidden_field_tag :product_id, product.id %>
              <%= number_field_tag :quantity, qty, min: 1, class: "input", style: "width: 70px" %>
              <%= submit_tag "Update", class: "button is-small" %>
            <% end %>
          </td>
          <td><%= number_to_currency product.price %></td>
          <td><%= number_to_currency product.price * qty %></td>
          <td>
            <%= button_to "Remove",
                cart_path(product_id: product.id),
                method: :delete,
                class: "button is-danger is-small" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <p><%= button_to "Remove All Items", cart_path, method: :delete %></p>
  <p><%= button_to "Checkout", cart_checkout_path, method: :post, data: { turbo: false } %></p>
<% end %>