<h1>Edit Address</h1>

<%= form_with model: @address, local: true do |f| %>
  <div>
    <%= f.label :street %><br>
    <%= f.text_field :street %>
  </div>

  <div>
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>

  <div>
    <%= f.label :province %><br>
    <%= f.text_field :province %>
  </div>

  <div>
    <%= f.label :postal_code %><br>
    <%= f.text_field :postal_code %>
  </div>

  <div>
    <%= f.label :is_primary %>
    <%= f.check_box :is_primary %>
  </div>

  <div>
    <%= f.submit "Update Address" %>
  </div>
<% end %>

<p><%= link_to "Back to Addresses", addresses_path %></p>
