<section class="section">
  <div class="container is-max-desktop">
    <h1 class="title is-2 has-text-centered mb-6">Your Addresses</h1>

    <% if @addresses.present? %>
      <div class="columns is-multiline">
        <% @addresses.each do |address| %>
          <div class="column is-half">
            <div class="card mb-4">
              <div class="card-content">
                <p class="is-size-5 has-text-weight-semibold mb-2">
                  <%= address.street %>, <%= address.city %>, <%= address.province %>, <%= address.postal_code %>
                  <% if address.is_primary %>
                    <span class="tag is-success ml-2">Primary</span>
                  <% end %>
                </p>

                <div class="buttons mt-3">
                  <%= link_to "Edit", edit_address_path(address), class: "button is-link is-small" %>
                  <%= link_to "Delete", address_path(address),
                        data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this address?" },
                        class: "button is-danger is-small" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="has-text-centered">
        <p class="mb-4">You have no addresses yet.</p>
        <%= link_to "Add One", new_address_path, class: "button is-primary" %>
      </div>
    <% end %>

    <div class="has-text-centered mt-5">
      <%= link_to "Add New Address", new_address_path, class: "button is-primary is-medium" %>
    </div>
  </div>
</section>
