<aside>
  <% if product.image_url.present? %>
    <p>
      <%= link_to product_path(product) do %>
        <%= image_tag product.image_url, alt: product.name %>
      <% end %>
    </p>
  <% end %>

  <% if defined?(show_name) && show_name %>
    <h3><%= link_to product.name, product %></h3>
  <% end %>

  <%= form_with url: add_cart_path, method: :post do %>
    <%= hidden_field_tag :product_id, product.id %>
    <%= number_field_tag :quantity, 1, min: 1, class: "input" %>
    <%= button_tag "Add To Cart 💳", class: "button is-primary" %>
  <% end %>
</aside>