<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-menu is-active is-flex is-justify-content-center">
    <ul class="navbar-item" style="display: flex; gap: 1.5rem; list-style: none;">

      <% unless controller_name == "pages" %>
        <li><%= link_to "Home", root_path, class: "navbar-link" %></li>
      <% end %>
      <li><%= link_to "Products", products_path, class: "navbar-link" %></li>
      <li><%= link_to "About", about_path, class: "navbar-link" %></li>
    </ul>

    <div class="navbar-end" style="margin-left: auto; display: flex; gap: 1rem;">
      <% cart_count = session[:cart]&.values&.sum || 0 %>
      <% if customer_signed_in? %>
        <li><%= link_to "Orders", orders_path, class: "navbar-link" %></li>
        <%= link_to "🛒 Cart (#{cart_count})", cart_path, class: "navbar-item" %>
        <span class="navbar-item">Hello, <%= current_customer.name %>!</span>
        <%= link_to "Account", customers_show_path, class: "navbar-item" %>
        <%= link_to "Logout", destroy_customer_session_path,
                              data: { turbo_method: :delete }, class: "navbar-item" %>
      <% else %>
        <%= link_to "Sign In", new_customer_session_path, class: "navbar-item" %>
        <%= link_to "Create Account", new_customer_registration_path, class: "navbar-item" %>
      <% end %>
    </div>
  </div>
</nav>