<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-menu is-active is-flex is-justify-content-center">
    <ul class="navbar-item" style="display: flex; gap: 1.5rem; list-style: none;">

      <%# Home link only displays if the page is not the home page %>
      <% unless controller_name == "pages" %>
        <li><%= link_to "Home", root_path, class: "navbar-link" %></li>
      <% end %>
      <li><%= link_to "Products", products_path, class: "navbar-link" %></li>
      <li><%= link_to "Orders", orders_show_path, class: "navbar-link" %></li>
      <li><%= link_to "About", about_path, class: "navbar-link" %></li>
      <div class="navbar-end">
        <%= link_to "🛒 Cart (#{@cart_count})", cart_path, class: "navbar-item" %>
      </div>
    </ul>
  </div>
</nav>